
 /*Anything related to color with be put in these css file */

 /*body, paragraphs, etc*/
 * {

    margin: 0px;
    padding: 0px;
    font-family: 'Genos', sans-serif;

}
/*backgroud color*/
 body{
background-color:  #beeaa9 !important;
}
.navbar-dark .navbar-nav .nav-link {
    color:white;
 }
/*-Navbar color*/
.bg-custom-1{

    background-image: linear-gradient(90deg,#5ae958 35%, #58e9af 100%) !important;
   
}

/*fa-bars color
.navbar .fas{

    color: rgb(30, 47, 47)!important;
    font-size: 26px;

} 
*/
/*margin-right, size-font*/
.navbar-nav{
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    /*needs space between the buttoms*/
}
.bg-custom-1 .navbar-toggler{
    padding-right: 20px;
    outline: none;
}
